.main {
  width: 100%;
}

.titulo {
  margin: 0;
  position: absolute;
  font-size: 6.25em;
  color: #ffffff;
  text-shadow: 3px 5px 2px #474747;
}

.secao1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9db79;
}

.imgBanner{
  max-width: 425px;
}

.secao2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.containerLargura {
  display: flex;
}

.containerImg {
  width: 50%;
  height: auto;
}

.img {
  width: 100%;
  object-fit: cover;
}

.containerTextos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 50%;
  text-align: center;
  flex: 1;
  gap: 20px;
}

.containerTextos h2 {
  font-size: 1.5em;
}

.containerTextos h3 {
  font-size: 1.25em;
  font-style: italic;
}

.containerTextos p {
  max-width: 600px;
  line-height: 30px;
  font-size: 1em;
}

/*-------------- responsivo --------------*/

@media (max-width: 768px){
  .titulo{
    font-size: 60px;
  }

  .secao2 {
    flex-direction: column;
    align-items: center;
  }

  .img{
    width: 100%;
  }

  .containerTextos {
    width: 100%;
    padding: 5px;
  }
}

.containerTextos p{
  text-align: center;
}

@media (max-width: 425px){
  .titulo {
    font-size: 40px;
  }

  .secao1 {
    background-size: 400px;
  }
  .containerLargura {
    flex-direction: column;
    align-items: center;
  }
  .containerImg{
    width: 100%;
  }

  .secao2 .containerLargura:nth-child(1) .containerImg {
    order: 1;
  }

  .secao2 .containerLargura:nth-child(1) .containerTextos {
    order: 2;
  }

  .secao2 .containerLargura:nth-child(2) .containerImg {
    order: 1;
  }

  .secao2 .containerLargura:nth-child(2) .containerTextos {
    order: 2;
  }

  .secao2 .containerLargura:nth-child(3) .containerImg {
    order: 1;
  }

  .secao2 .containerLargura:nth-child(3) .containerTextos {
    order: 2;
  }
}